.border1{
    border: 20px solid yellow;
    background-color: yellowgreen;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20%;
    border-radius: 10px;
}
#dnd-btn{
    border: 4px solid yellow;
    border-radius: 10px;
    background-color: aquamarine;
}
